*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

html {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
}

p {
    margin-top: 1em;
}
