#section-about {
    background-color: var(--color-black);
    color: var(--color-white);

    > .layout-content {
        padding-top: clamp(5rem, calc((100vw - 40rem) / 2), 7.5rem);
        padding-bottom: clamp(2.5rem, calc((-100vw + 1000px) / 2), 7.5rem);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h2 {
            margin: 0 0 1rem 0;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                background-color: var(--color-yellow);
                border-radius: 50%;
                margin-right: 0.3125em;
            }
        }

        .pictures {
            --picture-height: min(calc(12.5rem), 40vw);
            --picture-width: calc(var(--picture-height) * 0.95);
            --picture-radius: 0.5rem;
            --picture-animation-duration: 0.5s;

            max-width: calc(var(--picture-width) * 2.5);
            width: 100%;
            overflow-x: clip;

            .container {
                margin-top: 4rem;
                margin-bottom: 12rem;
                min-height: calc(var(--picture-height) * 1.42);
                position: relative;

                .picture {
                    position: absolute;
                    height: var(--picture-height);
                    width: var(--picture-width);
                    background: var(--color-white);
                    border: 1px solid var(--color-light-gray);
                    border-radius: var(--picture-radius);
                    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.08), 0 4px 4px 0 rgba(0,0,0,0.04);
                    padding: min(1rem, 3vw);
                    transition:
                        transform var(--picture-animation-duration) ease,
                        top var(--picture-animation-duration) ease,
                        right var(--picture-animation-duration) ease,
                        bottom var(--picture-animation-duration) ease,
                        left var(--picture-animation-duration) ease;

                    &.left {
                        transform: rotate(-1deg);
                        left: calc(var(--picture-width) / 4);
                    }
                    &.right {
                        transform: rotate(15deg);
                        left: calc(var(--picture-width) * 1.15);
                        top: 20%;
                    }

                    > img {
                        overflow: hidden;
                        border-radius: var(--picture-radius);
                        max-height: calc(var(--picture-height) * 0.7);
                    }

                    .caption {
                        font-family: 'Beth Ellen', sans-serif;
                        font-size: clamp(0.5rem, 3.1vw, 0.875rem);
                        text-align: center;
                        margin-top: min(1rem, 2vw);
                        color: var(--color-black);
                    }
                }
            }
        }

        .text {
            flex: 1 1 300px;
            max-width: calc(var(--layout-width) / 2.4);
            @media (max-width: 1000px) {
                max-width: none;
            }

            p:first-child {
                margin-top: 0;
            }

            a {
                color: var(--color-blue);
                position: relative;
                display: inline-block;
                overflow: hidden;
                height: 1.25em;
                margin-bottom: -0.15em;

                span {
                    position: relative;
                    z-index: 1;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background-color: var(--color-white);
                    border-radius: 0.15em;
                    z-index: 0;
                    transition: height 0.3s ease;
                }

                &:hover {
                    text-decoration: none;

                    &::before {
                        height: 100%;
                    }
                }
            }
        }
    }

    .decoration {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;

        &.bar {
            background-image: url('images/about/deco-bar.svg');
            height: min(3.125rem, 10vw);
            width: 22.5rem;
            left: 2rem;
            bottom: clamp(-3rem, calc((500px - 100vw) / 8 * -1), 0rem);
            transform: rotate(15deg);
        }

        &.ellipse {
            background-image: url('images/about/deco-ellipse.svg');
            height: min(4.6875rem, 15vw);
            width: 4.6875rem;
            left: 10rem;
            bottom: clamp(-4.5rem, calc(15vw * -1), -4rem);
        }

        &.star {
            background-image: url('images/about/deco-star.svg');

            &.big {
                height: 1rem;
                width: 1rem;
                right: min(6rem, 15vw);
                top: 0;
            }

            &.small {
                height: 0.7rem;
                width: 0.7rem;
                right: min(10rem, 25vw);
                top: 1rem;
            }
        }

        &.hint {
            border: 1px solid var(--color-white);
            border-radius: 4px;
            padding: 0.25em 1em;
            background-color: var(--color-black);
            font-size: 0.875rem;
            font-weight: 600;
            right: 0;
            bottom: -9rem;

            &::before {
                content: '';
                --size: 33px;
                width: var(--size);
                height: var(--size);
                position: absolute;
                display: inline-block;
                background-image: url('images/about/deco-arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                top: calc(var(--size) * -1);
                left: calc(var(--size) * -1);
                transform: rotate(-45deg);
            }
        }
    }
}
