#section-projects {
    > .layout-content {
        padding: clamp(5rem, calc((100vw - 40rem) / 2), 7.5rem) 0;

        & .headline {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: calc(var(--layout-margin) * 2);

            & h2 {
                margin: 0 0 1rem 0;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 0.5em;
                    height: 0.5em;
                    background-color: var(--color-light-green);
                    border-radius: 50%;
                    margin-right: 0.3125em;
                }
            }

            & .text {
                max-width: 31.25rem;

                & p:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}
