#section-projects {
    > .layout-content {
        padding: 7.5rem 0;

        .headline {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: calc(var(--layout-margin) * 2);

            h2 {
                margin: 0 0 1rem 0;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 0.5em;
                    height: 0.5em;
                    background-color: var(--color-green);
                    border-radius: 50%;
                    margin-right: 0.3125em;
                }
            }

            .text {
                max-width: 31.25rem;

                p:first-child {
                    margin-top: 0;
                }
            }
        }

        .grid {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;

            @media (max-width: 1100px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }

            .project {
                --project-height: 500px;
                --animation-duration: 0.5s;
                display: block;
                color: var(--color-black);
                text-decoration: none;
                padding: 1.5rem;
                border: 1px solid var(--color-black);
                border-radius: 0.5rem;
                height: var(--project-height);
                position: relative;
                overflow: hidden;

                .name {
                    margin-top: 0;
                    display: inline-block;
                    font-size: 1.125rem;
                    font-weight: 700;
                }

                .description {
                    margin-top: 0.5rem;
                }

                &:hover {
                    box-shadow: var(--shadow);
                }

                .background {
                    position: absolute;
                    z-index: -1;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition:
                        transform var(--animation-duration) ease,
                        top var(--animation-duration) ease,
                        right var(--animation-duration) ease,
                        bottom var(--animation-duration) ease,
                        left var(--animation-duration) ease;
                }

                &.billing-history {
                    .background {
                        &.shape {
                            background-image: url('images/projects/billing-history/bg-shape.svg');
                            width: calc(var(--project-height) * 0.966);
                            height: calc(var(--project-height) * 0.782);
                            top: 0;
                            left: 0;
                        }

                        &.fog {
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(249, 250, 251, 0.8) 100%);
                            width: 100%;
                            height: 50%;
                            bottom: 0;
                            left: 0;
                        }

                        &.image {
                            width: calc(var(--project-height) * 0.704);
                            height: calc(var(--project-height) * 0.469);
                            box-shadow: 0 4px 32px 0 rgba(0,0,0,0.3);
                            transform: scale(0.9) rotate(35deg) skew(-25deg, -5deg);

                            &.top {
                                background-image: url('images/projects/billing-history/image-top.jpg');
                                left: 30%;
                                bottom: 3rem;
                            }
                            &.middle {
                                background-image: url('images/projects/billing-history/image-middle.jpg');
                                left: 30%;
                                bottom: -1rem;
                            }
                            &.bottom {
                                background-image: url('images/projects/billing-history/image-bottom.jpg');
                                left: 30%;
                                bottom: -4rem;
                            }
                        }
                    }

                    &:hover {
                        .image {
                            &.top {
                                bottom: 5rem;
                            }
                            &.middle {
                                bottom: 0;
                            }
                            &.bottom {
                                bottom: -4rem;
                            }
                        }

                        .shape {
                            top: -0.5rem;
                            left: -0.2rem;
                        }
                    }
                }
            }
        }
    }
}
