@font-face {
    font-family: 'Beth Ellen';
    src: url('fonts/beth-ellen.woff2') format('woff2');
}

#section-hero {
    background: url('../images/bg-grid.svg') repeat;
    position: relative;
    overflow-x: clip;

    > .layout-content {
        margin-top: 168px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & .info {
            --scale-divider: 37; /* bigger value makes text smaller on smaller viewports */
            font-size: clamp(0.5rem, calc(100vw / var(--scale-divider)), 1rem);
            max-width: 31.25rem;
            margin-bottom: 4rem;

            & .hello {
                font-size: 1rem;
                font-weight: 500;
            }

            & .intro h1 {
                font-size: 3em;
                line-height: 1.55em;
                margin: 0;

                & .highlight {
                    --border-color: var(--color-light-green);
                    --background-color: var(--color-light-gray);
                    padding: 0.17em 0.34em;
                    background-color: var(--background-color);
                    border: 1px solid var(--border-color);
                    position: relative;

                    & .corner {
                        --size: 8px;
                        width: var(--size);
                        height: var(--size);
                        position: absolute;
                        display: inline-block;
                        background-color: var(--color-white);
                        border: 1px solid var(--border-color);

                        &.top-left {
                            top: calc(var(--size) / -2);
                            left: calc(var(--size) / -2);
                        }
                        &.top-right {
                            top: calc(var(--size) / -2);
                            right: calc(var(--size) / -2);
                        }
                        &.bottom-left {
                            bottom: calc(var(--size) / -2);
                            left: calc(var(--size) / -2);
                        }
                        &.bottom-right {
                            bottom: calc(var(--size) / -2);
                            right: calc(var(--size) / -2);
                        }
                    }
                }
            }

            & .about {
                color: var(--color-dark-gray);
                margin-top: 1.25em;
                font-size: 1.25rem;
                line-height: 1.7em;
            }
        }

        & .pictures {
            --picture-height: min(calc(17.875rem), 53vw);
            --picture-width: calc(var(--picture-height) * 0.95);
            --picture-radius: 0.5rem;

            flex: 1 1 calc(50%);

            & .container {
                min-height: calc(var(--picture-height) * 1.42);
                position: relative;

                & .picture {
                    position: absolute;
                    height: var(--picture-height);
                    width: var(--picture-width);
                    background: var(--color-white);
                    border: 1px solid var(--color-light-gray);
                    border-radius: var(--picture-radius);
                    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.08), 0 4px 4px 0 rgba(0,0,0,0.04);
                    padding: min(1.5rem, 4vw);

                    &.middle {
                        transform: rotate(14deg);
                        right: 25%;
                    }
                    &.left {
                        transform: rotate(-1deg);
                        right: 40%;
                    }
                    &.right {
                        transform: rotate(29deg);
                        right: 10%;
                    }

                    > img {
                        overflow: hidden;
                        border-radius: var(--picture-radius);
                        max-height: calc(var(--picture-height) * 0.7);
                    }

                    & .caption {
                        font-family: 'Beth Ellen', sans-serif;
                        font-size: clamp(0.875rem, 3.5vw, 1.125rem);
                        text-align: center;
                        margin-top: min(1.5rem, 4vw);
                    }
                }
            }
        }
    }

    & .decoration {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;

        &.star {
            background-image: url('images/hero/deco-star.svg');
            height: 1.25rem;
            width: 1.25rem;
            top: 2rem;
            left: max((100vw - var(--layout-width)) / 2, 4px);
        }

        &.cookie {
            background-image: url('images/hero/deco-cookie.svg');
            height: 2.0625rem;
            width: 2.0625rem;
            top: 20rem;
            left: max(((100vw - var(--layout-width)) / 2) - 8rem, -8rem);
        }

        &.flower {
            background-image: url('images/hero/deco-flower.svg');
            height: 3.125rem;
            width: 3.125rem;
            top: 4rem;
            right: max(((100vw - var(--layout-width)) / 2) + 24px, 24px);
        }

        &.sun {
            background-image: url('images/hero/deco-sun.svg');
            height: 2.5rem;
            width: 2.5rem;
            top: 28rem;
            right: max(((100vw - var(--layout-width)) / 2) - 1.25rem, -1.25rem);
        }

        &.shapes {
            background-image: url('images/hero/deco-shapes.svg');
            height: clamp(5.1rem, 30vw, 10.2rem);
            width: clamp(12rem, 70vw, 24rem);
            bottom: -10%;
            right: calc(max(0%, min(25%, (100vw - 600px))));
        }

        &.eye {
            background-image: url('images/hero/deco-eye.svg');
            height: 6.625rem;
            width: 6.625rem;
            bottom: -3rem;
            left: max(calc(((100vw - var(--layout-width)) / 2)), var(--layout-margin));
        }
    }
}
