#section-hero {
    background: url('../images/bg-grid.svg') repeat;

    > .content {
        margin-top: 168px;
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & .info {
            --scale-divider: 37; /* bigger value makes text smaller on smaller viewports */
            font-size: clamp(0.5rem, calc(100vw / var(--scale-divider)), 1rem);
            max-width: 31.25rem;

            & .hello {
                font-size: 1rem;
                font-weight: 500;
            }

            & .intro h1 {
                font-size: 3em;
                line-height: 1.55em;
                margin: 0;

                & .highlight {
                    --border-color: var(--color-light-green);
                    --background-color: var(--color-light-gray);
                    padding: 0.17em 0.34em;
                    background-color: var(--background-color);
                    border: 1px solid var(--border-color);
                    position: relative;

                    & .corner {
                        --size: 8px;
                        width: var(--size);
                        height: var(--size);
                        position: absolute;
                        display: inline-block;
                        background-color: var(--color-white);
                        border: 1px solid var(--border-color);

                        &.top-left {
                            top: calc(var(--size) / -2);
                            left: calc(var(--size) / -2);
                        }
                        &.top-right {
                            top: calc(var(--size) / -2);
                            right: calc(var(--size) / -2);
                        }
                        &.bottom-left {
                            bottom: calc(var(--size) / -2);
                            left: calc(var(--size) / -2);
                        }
                        &.bottom-right {
                            bottom: calc(var(--size) / -2);
                            right: calc(var(--size) / -2);
                        }
                    }
                }
            }

            & .about {
                color: var(--color-dark-gray);
                margin-top: 1.25em;
                font-size: 1.25rem;
                line-height: 1.7em;
            }
        }

        > .pictures {
            margin-top: -24px;
            height: 300px;
            width: 300px;
            background: #ccc;
        }
    }
}