{% extends '@Core/_base.html.twig' %}

{% block linkedin_url -%}
    https://www.linkedin.com/in/hanna-stelmakh/
{%- endblock %}

{% block body -%}
    {% set header = block('header') ?? '' -%}
    {% if header is not empty %}
        <header>{{ header | raw }}</header>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="layout-content">
            <div class="contact"><a class="linkedin" target="_blank" rel="nofollow noopener" href="{{ block('linkedin_url') }}" aria-label="LinkedIn profile of Hanna Stelmakh">LinkedIn</a></div>
            <div class="copyright">
                <div class="container">
                    <div class="text">&copy; Hanna Stelmakh</div><div class="mouse"></div>
                </div>
            </div>
            <div class="credits"><a href="{{ path('credits') }}">Credits</a></div>
        </div>
    </footer>
{%- endblock %}
