main > section.highlights {
    ul.list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem clamp(1rem, calc(100vw / 25), 3.5rem);

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        li {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            img {
                overflow: hidden;
                outline: 1px solid var(--color-medium-gray);
                outline-offset: -1px;
                border-radius: .5rem;
            }

            .text {
                border: 1px solid var(--color-project-gray);
                border-radius: 0.5rem;
                padding: 0.5em 1em;
                font-size: 0.875rem;
                line-height: 1.5em;

                @media (min-width: 601px) and (max-width: 900px) {
                    font-size: 0.75rem;
                }
            }
        }
    }
}
