main > section.icons {
    ul.list-large {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 4rem clamp(1rem, calc(100vw / 50), 2rem);
        justify-items: center;
        margin-left: 2rem;

        @media (max-width: 1100px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(3, 1fr);
            margin-left: 0;
            row-gap: clamp(1rem, calc(100vw / 20), 2rem);

            li:first-child {
                grid-column: span 3;
                margin-bottom: 3rem;
            }
        }

        li {
            display: block;
            width: 4rem;
            height: 4rem;
            background-size: cover;
            background-position: center;

            &.envelope {
                position: relative;

                &::after {
                    position: absolute;
                    top: 0;
                    left: -3.2rem;
                    content: '';
                    background-image: url('images/icons/envelope.svg');
                    background-size: cover;
                    background-position: center;
                    width: 7.1875rem;
                    height: 6.625rem;
                }
            }
            &.allocation-b2b {
                background-image: url('images/icons/allocation-b2b.svg');
            }
            &.arrow-circle-down {
                background-image: url('images/icons/arrow-circle-down.svg');
            }
            &.arrow-to-bottom {
                background-image: url('images/icons/arrow-to-bottom.svg');
            }
            &.bundle {
                background-image: url('images/icons/bundle.svg');
            }
            &.branding-sticker {
                background-image: url('images/icons/branding-sticker.svg');
            }
            &.calculate {
                background-image: url('images/icons/calculate.svg');
            }
            &.charging-euro {
                background-image: url('images/icons/charging-euro.svg');
            }
            &.claim {
                background-image: url('images/icons/claim.svg');
            }
            &.close-circle {
                background-image: url('images/icons/close-circle.svg');
            }
        }
    }

    .list-small {
        margin-top: clamp(1rem, calc(100vw / 15), 6rem);
        padding: clamp(0.5rem, calc(100vw / 35), 1.5rem);
        border: 1px solid var(--color-project-gray);
        border-radius: 0.5rem;
    }
}
