body > header {
    background: var(--color-white) url('../../../../Core/Resources/assets/images/bg-grid.svg') repeat;
    padding: 1.5rem 0;

    a.back {
        --animation-duration: 0.2s;
        display: inline-block;
        padding: 0.25em 1em;
        border: 1px solid var(--color-black);
        border-radius: 0.25em;
        color: var(--color-black);
        text-decoration: none;
        background-color: var(--color-white);
        transition:
            color var(--animation-duration) ease,
            background-color var(--animation-duration) ease;

        &:before {
            content: '';
            width: 1em;
            aspect-ratio: 1;
            background-image: url('../../../../Core/Resources/assets/images/icon-arrow-left.svg');
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0.16em;
            margin-right: 0.25em;
            transition: transform var(--animation-duration) ease;
        }

        &:hover {
            color: var(--color-white);
            background-color: var(--color-black);

            &:before {
                filter: invert(1);
                transform: translateX(-0.25rem);
            }
        }
    }
}
