main > section.idea {
    ul.list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        li {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background: var(--color-project-teal);
            color: var(--color-white);
            border-radius: .5rem;
            padding: 1.5rem;

            .head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .image {
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    border: 1px solid var(--color-white);
                    user-select: none;
                    background-position: center;
                    background-repeat: no-repeat;

                    &.download {
                        background-image: url('images/idea/download.svg');
                    }
                    &.filter {
                        background-image: url('images/idea/filter.svg');
                    }
                    &.file {
                        background-image: url('images/idea/file.svg');
                    }
                    &.notifications {
                        background-image: url('images/idea/notifications.svg');
                    }
                    &.checklist {
                        background-image: url('images/idea/checklist.svg');
                    }
                    &.glasses {
                        background-image: url('images/idea/glasses.svg');
                    }
                }

                .hint {
                    font-weight: 700;
                    color: rgba(255, 255, 255, 0.7);
                }
            }

            h3 {
                margin: 0;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.5em;
            }

            .text {
                margin: 0;
            }
        }
    }
}
