{# @var project \App\Projects\Project #}

{% extends '@Projects~_shared/_project.html.twig' %}

{% block head %}
    {{ parent() }}
    {{ asset_import('@Projects~' ~ project.slug ~ '/main.js') }}
{% endblock %}

{% block content_project %}
    <section class="title">
        <div class="layout-content">
            <h1>{{ project.name }}</h1>
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/mango-logo.svg') }}" alt="mango logo">
        </div>
    </section>

    <section class="cover">
        <div class="layout-content"></div>
    </section>

    <section class="about">
        <div class="layout-content">
            <div class="headline">
                <h2>About the Project</h2>

                <div class="description">
                    Managing a team can be tricky — too many tasks, scattered information, and constant scheduling
                    issues. Mango makes it easier. It’s a <strong>smart tool</strong> that <strong>helps managers
                    organize processes and plan resources better</strong>. With Mango, managing a team becomes simple,
                    connected, and ready for the future.
                </div>
            </div>
        </div>
    </section>
{% endblock %}
