<div class="background ellipse"></div>
<div class="background palette yellow"></div>
<div class="background palette pink"></div>
<div class="background star red"></div>
<div class="background star purple"></div>
<div class="background cross green"></div>
<div class="background cross white"></div>
<div class="background flower"></div>
<div class="background box order-4"></div>
<div class="background box order-3"></div>
<div class="background box order-2"></div>
<div class="background box order-1">
    <div class="header">
        <div class="control"></div>
        <div class="control"></div>
        <div class="control"></div>
    </div>
    <div class="components"></div>
</div>
