{# @var project \App\Projects\Project #}

{% extends '@Projects~_shared/_project.html.twig' %}

{% block content_project %}
    <section class="title">
        <div class="layout-content">
            <h1>{{ project.name }}</h1>
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/byrd-logo.svg') }}" alt="byrd logo">
        </div>
    </section>

    <section class="cover">
        <div class="layout-content"></div>
    </section>
{% endblock %}
