main > section.typography {
    .preview {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 2rem max(1.5rem, calc(100vw / 8));

        .text {
            flex: 2 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
