<div class="background"></div>
<div class="background shape"></div>
<div class="background image bottom"></div>
<div class="background image middle"></div>
<div class="background fog"></div>
<div class="background image top"></div>
