{# @var project \App\Projects\Project #}

{% extends '@Projects~_shared/_project.html.twig' %}

{% block head %}
    {{ parent() }}
    {{ asset_import('@Projects~' ~ project.slug ~ '/main.js') }}
{% endblock %}

{% block content_project %}
    <section class="title">
        <div class="layout-content">
            <h1>{{ project.name }}</h1>
            <img src="{{ asset_path('@Projects~' ~ project.slug ~ '/images/byrd-logo.svg') }}" alt="byrd logo">
        </div>
    </section>

    <section class="cover">
        <div class="layout-content"></div>
    </section>

    <section class="about">
        <div class="layout-content">
            <div class="headline">
                <h2>About the Project</h2>

                <div class="description">
                    This project was created during an <b>internal Hackathon</b> at byrd, a SaaS platform where I worked
                    as
                    a Product Designer. Our team aimed to design a self-service interface where customers could manage
                    their
                    payment history without contacting support. The challenge: streamline a task that was previously
                    only
                    possible via a help ticket.
                </div>
            </div>
        </div>
    </section>

    <section class="steps">
        <div class="layout-content">
            <div class="headline">
                <h2>Project Steps</h2>
            </div>

            <ol class="list">
                <li>
                    <div class="card">
                        <div class="image magnifier" aria-hidden="true"></div>
                        <h3 class="name">Research</h3>
                    </div>
                    <ul class="actions">
                        <li>Competitor Analysis</li>
                        <li>Stakeholder Interview</li>
                    </ul>
                </li>

                <li>
                    <div class="card">
                        <div class="image brain" aria-hidden="true"></div>
                        <h3 class="name">Ideation</h3>
                    </div>
                    <ul class="actions">
                        <li>Brainstorming</li>
                    </ul>
                </li>

                <li>
                    <div class="card">
                        <div class="image paintbrush" aria-hidden="true"></div>
                        <h3 class="name">Design</h3>
                    </div>
                    <ul class="actions">
                        <li>Wireframes</li>
                        <li>Hi-Fi Layouts</li>
                        <li>Prototype</li>
                    </ul>
                </li>

                <li>
                    <div class="card">
                        <div class="image megaphone" aria-hidden="true"></div>
                        <h3 class="name">Presentation</h3>
                    </div>
                    <ul class="actions">
                        <li>Pitch Deck</li>
                    </ul>
                </li>
            </ol>
        </div>
    </section>

    <section class="problem">
        <div class="layout-content">
            <div class="headline">
                <h2>User Problem</h2>

                <div class="description">
                    Users couldn’t access invoices, check transactions, or track billing without support. This caused
                    frustration and unnecessary delays. For the Support Team, it meant a high volume of repetitive
                    requests.
                </div>
            </div>

            <div class="problem-table" role="table" aria-label="User problem details">
                <div class="row" role="row">
                    <div class="cell label" role="rowheader">
                        <div class="title">Who</div>
                        <div class="subtitle">who is affected by the problem?</div>
                    </div>
                    <div class="cell value" role="cell">Customers</div>
                    <div class="cell value" role="cell">Customer Support Employees</div>
                </div>

                <div class="row" role="row">
                    <div class="cell label" role="rowheader">
                        <div class="title">What</div>
                        <div class="subtitle">what is the problem?</div>
                    </div>
                    <div class="cell value" role="cell">
                        Don’t have a centralized place where they can manage their invoices
                    </div>
                    <div class="cell value" role="cell">
                        Overwhelmed with Customers requests (raised tickets) about providing invoices
                    </div>
                </div>

                <div class="row" role="row">
                    <div class="cell label" role="rowheader">
                        <div class="title">Where</div>
                        <div class="subtitle">where does this problem occur?</div>
                    </div>
                    <div class="cell value" role="cell">Emails / Customer Dashboard</div>
                    <div class="cell value" role="cell">Freshdesk</div>
                </div>

                <div class="row" role="row">
                    <div class="cell label" role="rowheader">
                        <div class="title">When</div>
                        <div class="subtitle">when does the problem occur?</div>
                    </div>
                    <div class="cell value" role="cell">In the end of each month</div>
                    <div class="cell value" role="cell">In the end of each month</div>
                </div>

                <div class="row" role="row">
                    <div class="cell label" role="rowheader">
                        <div class="title">Why</div>
                        <div class="subtitle">why does the problem occur?</div>
                    </div>
                    <div class="cell value" role="cell">
                        Users receive invoices only per email. So they have to manage them somehow
                    </div>
                    <div class="cell value" role="cell">
                        No way to see if the users received invoice by email
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
