body {
    --color-black: #1A1A1A;
    --color-white: #FFFFFF;
    --color-blue: #81CAFF;
    --color-yellow: #FFBC01;
    --color-purple: #6041E8;
    --color-pink: #EF87BF;

    --color-light-gray: #F5F5F5;
    --color-light-green: #7DD3B2;

    --color-dark-gray: #6D6D6D;
}
