body {
    --color-black: #1A1A1A;
    --color-white: #FFFFFF;
    --color-dark-gray: #6D6D6D;
    --color-light-gray: #F5F5F5;
    --color-blue: #81CAFF;
    --color-yellow: #FFBC01;
    --color-purple: #6041E8;
    --color-pink: #EF87BF;
    --color-green: #7DD3B2;
}
