body {
    --color-black: #1A1A1A;
    --color-white: #FFFFFF;
    --color-dark-gray: #6D6D6D;
    --color-light-gray: #F5F5F5;
    --color-soft-gray: #F8F8F8;
    --color-blue: #81CAFF;
    --color-yellow: #FFBC01;
    --color-purple: #6041E8;
    --color-pink: #EF87BF;
    --color-green: #7DD3B2;
    --shadow: 0 1px 3px 2px rgba(0,0,0,0.08), 0 4px 4px 0 rgba(0,0,0,0.04);
}
