body {
    > main > section {
        display: flex;
        justify-content: center;
        width: 100%;

        > .content {
            width: 1200px;
            max-width: 100%;
            margin: 0 16px;
            overflow: visible;
        }
    }
}