body {
    --layout-width: 1200px;
    --layout-margin: 16px;

    > main > section, > header, > footer {
        display: flex;
        justify-content: center;
        width: 100%;

        > .layout-content {
            width: var(--layout-width);
            max-width: 100%;
            margin: 0 var(--layout-margin);
        }
    }
}
