body {
    > main > section {
        display: flex;
        justify-content: center;
        width: 100%;

        > .content {
            --content-width: 1200px;
            --content-margin: 16px;
            width: var(--content-width);
            max-width: 100%;
            margin: 0 var(--content-margin);
            overflow: visible;
        }
    }
}