@font-face {
    font-family: 'Inter';
    src: url('fonts/inter.woff2') format('woff2');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/space-grotesk.woff2') format('woff2');
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.25em;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    @media (max-width: 600px) {font-size: 2rem;}
}

h2 {
    font-size: 2rem;
    @media (max-width: 600px) {font-size: 1.75rem;}
}

h3 {
    font-size: 1.75rem;
    @media (max-width: 600px) {font-size: 1.5rem;}
}

h4 {
    font-size: 1.5rem;
    @media (max-width: 600px) {font-size: 1.125rem;}
}

h5 {
    font-size: 1.125rem;
    @media (max-width: 600px) {font-size: 1rem;}
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    @media (max-width: 600px) {font-size: 0.875rem;}
}
