main > section.colors {
    ul.list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        li {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: .5rem;
            padding: 1rem;

            &.yellow {
                background: var(--color-project-yellow);
                color: var(--color-project-black);
            }
            &.green {
                background: var(--color-project-green);
                color: var(--color-project-black);
            }
            &.black {
                background: var(--color-project-black);
                color: var(--color-project-white);
            }
            &.white {
                background: var(--color-project-white);
                color: var(--color-project-black);
                border: 1px solid var(--color-medium-gray);
                .icon {
                    background-image: url('images/colors/symbol-gray.svg');
                }
            }

            .icon {
                background-image: url('images/colors/symbol-white.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 1.5rem;
                height: 2.5rem;
            }

            .hex {
                text-align: right;
                font-size: 0.875rem;
                margin: 1.75rem 0 0 0;
            }
        }
    }
}
