#section-projects .project {
    &.mango {
        .background {
            &.ellipse-empty {
                background-image: url('images/preview/bg-ellipse-empty.svg');
                width: 0.75rem;
                aspect-ratio: 1;
            }
            &.ellipse-fill {
                background-image: url('images/preview/bg-ellipse-fill.svg');
                width: 0.75rem;
                aspect-ratio: 1;
            }
            &.ellipse-dash {
                background-image: url('images/preview/bg-ellipse-dash.svg');
                width: 0.75rem;
                aspect-ratio: 1;
            }
            &.file {
                background-image: url('images/preview/bg-file.svg');
                width: 2.0625rem;
                aspect-ratio: 1.03125;
            }
            &.chart {
                background-image: url('images/preview/bg-chart.svg');
                width: 0.75rem;
                aspect-ratio: 1;
            }
            &.people {
                background-image: url('images/preview/people.svg');
                bottom: 1rem;
                left: 5%;
                width: 90%;
                aspect-ratio: 1.87640449;
            }
            &.logo-container {
                --width: calc(var(--project-height) * 0.296 + 4rem);
                width: var(--width);
                height: calc(var(--project-height) * 0.088 + 2rem);
                top: 30%;
                left: calc(50% - (var(--width) / 2));
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
            }
            &.logo {
                background-image: url('images/preview/logo-black.svg');
                width: calc(var(--project-height) * 0.296);
                height: calc(var(--project-height) * 0.088);
            }
            &.logo-preload {
                background-image: url('images/preview/logo-white.svg');
                visibility: hidden;
            }
            &.particle-1 {
                left: 5%;
                bottom: 50%;
                transform: scale(0.6);
            }
            &.particle-2 {
                left: 15%;
                bottom: 45%;
                transform: scale(0.4);
            }
            &.particle-3 {
                left: 34%;
                bottom: 43%;
                transform: scale(0.5);
            }
            &.particle-4 {
                left: 65%;
                bottom: 43%;
            }
            &.particle-5 {
                left: 80%;
                bottom: 45%;
                transform: scale(0.4);
            }
            &.particle-6 {
                left: 89%;
                bottom: 52%;
                transform: scale(0.8);
            }
            &.particle-7 {
                left: 92%;
                bottom: 45%;
                transform: scale(1.4);
            }
            &.particle-8 {
                left: 5%;
                bottom: 33%;
                transform: scale(1);
            }
            &.particle-9 {
                left: 40%;
                bottom: 34%;
                transform: scale(0.25);
            }
            &.particle-10 {
                left: 41%;
                bottom: 30%;
                transform: scale(0.7);
            }
            &.particle-11 {
                left: 63%;
                bottom: 31%;
                transform: scale(0.6);
            }
            &.particle-12 {
                left: 76%;
                bottom: 37%;
                transform: scale(0.6);
            }
            &.particle-13 {
                left: 91%;
                bottom: 28%;
                transform: scale(3);
            }
            &.particle-14 {
                left: 5%;
                bottom: 23%;
                transform: scale(0.6);
            }
            &.particle-15 {
                left: 28%;
                bottom: 23%;
                transform: scale(0.3);
            }
            &.particle-16 {
                left: 96%;
                bottom: 20%;
                transform: scale(1.2);
            }
            &.particle-17 {
                left: 2%;
                bottom: 13%;
                transform: scale(0.3);
            }
            &.particle-18 {
                left: 96%;
                bottom: 10%;
                transform: scale(0.3);
            }
        }

        &:hover {
            .background {
                &.logo-container {
                    background-color: var(--color-black);
                }
                &.logo {
                    background-image: url('images/preview/logo-white.svg');
                }
                &.particle-1 {
                    transform: scale(1);
                }
                &.particle-2 {
                    transform: scale(0.6);
                    left: 16%;
                    bottom: 40%;
                }
                &.particle-3 {
                    left: 33%;
                    bottom: 42%;
                    transform: scale(0.6);
                }
                &.particle-4 {
                    left: 55%;
                    bottom: 50%;
                    transform: scale(0.9);
                }
                &.particle-5 {
                    left: 81%;
                    transform: scale(0.35);
                }
                &.particle-6 {
                    bottom: 51%;
                    transform: scale(1);
                }
                &.particle-7 {
                    left: 89%;
                    bottom: 43%;
                    transform: scale(0.8);
                }
                &.particle-8 {
                    left: 4%;
                    bottom: 35%;
                    transform: scale(0.8) rotate(-10deg);
                }
                &.particle-9 {
                    left: 44%;
                    bottom: 39%;
                    transform: scale(0.35);
                }
                &.particle-10 {
                    left: 41%;
                    bottom: 34%;
                    transform: scale(0.75);
                }
                &.particle-11 {
                    left: 68%;
                    bottom: 27%;
                    transform: scale(0.4);
                }
                &.particle-12 {
                    left: 68%;
                    bottom: 36%;
                    transform: scale(0.8);
                }
                &.particle-13 {
                    left: 91%;
                    bottom: 30%;
                    transform: scale(2.5) rotate(-45deg);
                }
                &.particle-14 {
                    left: 6%;
                    bottom: 21%;
                    transform: scale(0.7);
                }
                &.particle-15 {
                    left: 29%;
                    bottom: 27%;
                    transform: scale(0.4);
                }
                &.particle-16 {
                    left: 98%;
                    bottom: 22%;
                    transform: scale(1.5);
                }
                &.particle-17 {
                    left: 1%;
                    bottom: 14%;
                    transform: scale(0.35);
                }
                &.particle-18 {
                    left: 95%;
                    bottom: 12%;
                    transform: scale(0.5);
                }
            }
        }
    }
}
