body {
    --color-project-black: #111212;
    --color-project-yellow: #F5C05C;
    --color-project-green: #98C28F;
    --color-project-white: #FFFFFF;
}

img.screenshot {
    overflow: hidden;
    outline: 1px solid var(--color-medium-gray);
    outline-offset: -1px;
    border-radius: 0.5rem;
}
