body > footer {
    background: var(--color-white) url('images/bg-grid.svg') repeat;

    > .layout-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;

        a {
            color: var(--color-black);
            text-decoration: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -1px;
                width: 100%;
                height: 1px;
                background: var(--color-black);

                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.25s ease;
            }

            &:hover, &:focus-visible {
                &::after {
                    transform: scaleX(1);
                }
            }
        }

        > div {
            width: fit-content;
        }

        a.linkedin {
            display: flex;
            align-items: center;
            overflow: visible;

            &::before {
                content: '';
                display: inline-block;
                width: 1.2em;
                height: 1.2em;
                background-image: url('images/icon-linkedin.svg');
                background-size: cover;
                margin-right: 0.6em;
                margin-bottom: 0.1em;
            }
        }

        .copyright {
            --mouse-height: 2.75rem;
            --mouse-width: calc(var(--mouse-height) * 0.79545455);

            @media (max-width: 600px) {
                order: 2;
                width: 100%;
            }

            .container {
                display: flex;
                align-items: center;
                position: relative;
                width: fit-content;
                margin: 0 auto;

                .text {
                    margin-right: calc(var(--mouse-width) + 0.5em);
                }

                .mouse {
                    background-image: url('images/deco-mouse.svg');
                    height: var(--mouse-height);
                    width: var(--mouse-width);
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
