a.shutter {
    --duration: 0.3s;

    color: var(--color-blue);
    position: relative;
    display: inline-block;
    overflow: visible;
    height: 1.25em;
    margin-bottom: -0.15em;
    z-index: 0;
    transition: color var(--duration) ease;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        background-color: var(--color-white);
        border-radius: 0.15em;
        z-index: -1;
        transition: height var(--duration) ease, transform calc(var(--duration) + 0.1s) ease;
        width: calc(100% + 0.4em);
        transform: translateX(-0.2em);
    }

    &.black {
        color: var(--color-black);

        &::before {
            background-color: var(--color-black);
        }
    }

    &:hover {
        color: var(--color-purple);
        text-decoration: none;

        &.black {
            color: var(--color-white);
        }

        &::before {
            height: calc(100% + 0.25em);
            transform: translateX(-0.2em) translateY(0.25em);
        }
    }
}
