a.shutter {
    --duration: 0.3s;
    --text-color: var(--color-blue);
    --hover-color: var(--color-purple);
    --hover-background: var(--color-white);

    &.black {
        --text-color: var(--color-black);
        --hover-color: var(--color-white);

        &::before, &::after {
            --hover-background: var(--color-black);
        }
    }

    color: var(--text-color);
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: visible;
    height: 1.25em;
    margin-bottom: -0.15em;
    z-index: 0;
    transition: color var(--duration) ease;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        background-color: var(--hover-background);
        border-radius: 0.15em;
        z-index: -1;
        transition: height var(--duration) ease, transform calc(var(--duration) + 0.1s) ease;
        width: calc(100% + 0.4em);
        transform: translateX(-0.2em);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: var(--text-color);

        transform: scaleX(1);
        transform-origin: center;
        transition: transform var(--duration) ease;
    }

    &:hover, &:focus-visible {
        color: var(--hover-color);

        &::before {
            height: calc(100% + 0.25em);
            transform: translateX(-0.2em) translateY(0.25em);
        }

        &::after {
            transform: scaleX(0);
        }
    }
}
