a.shutter {
    color: var(--color-blue);
    position: relative;
    display: inline-block;
    overflow: visible;
    height: 1.25em;
    margin-bottom: -0.15em;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        background-color: var(--color-white);
        border-radius: 0.15em;
        z-index: -1;
        transition: height 0.3s ease, translateY 0.3s ease;
        width: calc(100% + 0.4em);
        transform: translateX(-0.2em);
    }

    &:hover {
        color: var(--color-purple);
        text-decoration: none;

        &::before {
            height: calc(100% + 0.25em);
            transform: translateX(-0.2em) translateY(0.2em);
        }
    }
}
