body > header {
    background: var(--color-white) url('../images/bg-grid.svg') repeat;
    padding: 1.5rem 0;

    a.back {
        display: inline-block;
        padding: 0.25em 1em;
        border: 1px solid var(--color-black);
        border-radius: 0.25em;
        color: var(--color-black);
        text-decoration: none;
        background-color: var(--color-white);

        &:before {
            content: '';
            width: 1em;
            aspect-ratio: 1;
            background-image: url('../images/icon-arrow-left.svg');
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0.16em;
            margin-right: 0.25em;
        }

        &:hover {
            color: var(--color-white);
            background-color: var(--color-black);

            &:before {
                filter: invert(1);
            }
        }
    }
}
